/* CSS Reset */
*{
    margin: 0;
    padding: 0;

}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}
/*navigation Bar */
#navbar{
    display: flex;
    align-items: center;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 25px 30px;

}
#logo img{
    height: 40px;
    margin: 25px 30px;
    
}
/* Navigation Bar: List Styling */
#navbar{
    position: relative;

}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: pink;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;

}
#navbar ul li{
    list-style: none;
    font-size: 1.6rem;
}

#navbar ul li a{
    display: block;
    padding: 4px 20px;
    border-radius: 25px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: gray;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 4px 150px;
    height: 325px;
    justify-content: center;
    align-items: center;

}
#home::before{
    content: "";
    position: absolute;
    background: url('./dinner.png') no-repeat center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.5;

}
#home h1{
    color: white;
    text-align: center;

}

#home p1{
    color: white;
    text-align: center;
    font-size: 1.6rem;

}
#home p2{
    color: white;
    text-align: center;
    font-size: 1.6rem;

}

/* Utility Class */
.h-primary{
    font-size: 3.0rem;
    padding: 14px;

}
.btn{
    padding: 7px 22px;
    border: 3px solid white;
    background-color:  yellow;
    color: black;
    margin: 35px;
    font-size: 1.6rem;
    border-radius: 16px;
    cursor: pointer;
}